root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

dotnet_naming_rule.public_members_should_be_pascal.symbols = public_members
dotnet_naming_rule.public_members_should_be_pascal.style = pascal_case_style
dotnet_naming_rule.public_members_should_be_pascal.severity = suggestion

dotnet_naming_symbols.public_members.applicable_kinds = property,method,event,field
dotnet_naming_symbols.public_members.applicable_accessibilities = public,protected,protected_internal

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_rule.private_fields_should_be_underscore_camel.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_underscore_camel.style = underscore_camel_style
dotnet_naming_rule.private_fields_should_be_underscore_camel.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel_style.required_prefix = _
dotnet_naming_style.underscore_camel_style.capitalization = camel_case
